!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Miyadow
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to "Miyadow", root_path, class: "navbar-brand"
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
        %form.form-inline.my-2.my-lg-0
          = link_to "新規投稿",  new_post_path, class: "new-post btn btn-secondary"
    .container
      = yield
